@import url('./variables.css');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif; 
    background-color: rgb(var(--main-background-color));
    color: rgb(var(--main-text-color));
    text-align: justify;
}

body, #root, .App, #content, #mainSidebar, #mainContent {
    height: 100vh;
}

a {
    text-decoration: none;
    color: rgb(var(--sidebar-border-color));
}

a:hover {
    text-decoration: underline;
}

a.button:hover {
    text-decoration: none;
}

.margin-top-10 { margin-top: 10px; }
.margin-top-20 { margin-top: 20px; }
.margin-top-30 { margin-top: 30px; }

.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-20 { margin-bottom: 20px; }
.margin-bottom-30 { margin-bottom: 30px; }

.margin-left-5 { margin-left: 5px; }
.margin-left-10 { margin-left: 10px; }
.margin-left-20 { margin-left: 20px; }
.margin-left-30 { margin-left: 30px; }

.raw-text {
    white-space: pre-wrap;
}

.row {
    width: 100%;
    display: table;
}

.row::after {
    content: "";
    clear: both;
    /* display: block; */
    /* display: table; */
}

[class*="col-"] {
    /* float: left; */
    float: none;
    display: table-cell;
    vertical-align: top;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
        float: left;
        width: 100%;
    }
}

.vertical-center {
    /* display: flex;
    align-items: center; */
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(var(--lightGray));
    border-radius: 5px;
}

.card {
    border: 1px solid rgb(var(--main-border-color));
    border-radius: 5px 5px 5px 5px;
}

.card-header {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(var(--main-border-color));
}

.card-content {
    padding: 10px;
    margin-bottom: 10px;
}

.card-footer {
    padding: 10px;
    margin-top: 10px;
    border-top: 1px solid rgb(var(--main-border-color));
}

form {
    width: 100%;
}

form input {
    width: 100%;
}

form select {
    width: 100%;
}

form textarea {
    width: 100%;
    height: 7em;
}

.button {
    font-size: var(--mainContent-button-fontSize);
    cursor: pointer;
    border: none;
    padding: 10px 15px;
    margin: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(var(--sidebar-a-color));
    background-color: rgb(var(--sidebar-background-color));
}

.button:hover {
    box-shadow: 0 3px 6px rgb(var(--jetGray));
    background-color: rgb(var(--sidebar-border-color));
}

.button:focus {
    outline: 0;
}

.button:active {
    transform: translateY(2px);
}

.alert {
    padding: var(--alert-padding-y) var(--alert-padding-x);
    border: var(--alert-border);
    border-radius: var(--alert-border-radius);
}

.alert-info {
    color: #084298;
    background-color: #cfe2ff;
    border: #b6d4fe;
}

.alert-warning {
    color:  #664d03;
    background-color: #fff3cd;
    border:  #ffecb5;
}

.alert-danger {
    color:  #842029;
    background-color: #f8d7da;
    border:  #f5c2c7;
}

.alert-success {
    color:  #0f5132;
    background-color: #d1e7dd;
    border:  #badbcc;
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.form label{
    display: inline-block;
}

.form input[type=date]{
    text-align: center;
}

.form input[type=number] {
    text-align: right;
}

.subInput input[type=radio], .subInput input[type=checkbox] {
    width: auto;
}
.subInput label {
    padding-left: 5px;
}

.form input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.form input[type=submit] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(var(--sidebar-background-color));
    color: rgb(var(--sidebar-a-color));
}

.form input[type=submit]:hover {
    box-shadow: 0 3px 6px rgb(var(--jetGray));
    background-color: rgb(var(--sidebar-border-color));
}

.form input[type=submit]:focus {
    outline: 0;
}

.form input[type=submit]:active {
    transform: translateY(2px);
}

.label {
    text-align: right;
    padding-right: 10px;
}

@media only screen and (max-width: 600px) {
    .label {
        text-align: left;
    }
}

.table {
    border-collapse: collapse;
    border: 1px solid;
    width: 100%;
}

.table thead tr th {
    border: 1px solid;
}

.table tbody tr td {
    border: 1px solid;
}