@import url('./variables.css');

#mainSidebar {
    float: left;
    font-weight: bold;
    background-color: rgb(var(--sidebar-background-color));
    width: var(--sidebar-width);
}

#mainSidebar-header {
    letter-spacing: 4px;
    background-color: rgb(var(--sidebar-border-color));
    height: var(--sidebar-header-height);
    line-height: var(--sidebar-header-height);
    text-align: center;
}

#mainSidebar-content {
    height: calc(100vh - var(--sidebar-header-height) - var(--sidebar-footer-height));
    overflow: auto;
    color: rgb(var(--sidebar-a-color));
}

#mainSidebar-content a {
    color: rgb(var(--sidebar-a-color));
}

#mainSidebar-content a:hover {
    text-decoration: none;
}

#mainSidebar-content nav ul li {
    width: 100%;
    padding: 16px 10px;
}

#mainSidebar-content nav ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
}

#mainSidebar-content nav ul li:hover {
    background-color: rgb(var(--sidebar-hover-background-color));
    font-style: italic;
}

.mainSidebar-content-div a {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
}

.mainSidebar-content-div a:hover {
    background-color: rgb(var(--sidebar-hover-background-color));
    font-style: italic;
}

#mainSidebar-footer {
    background-color: rgb(var(--sidebar-border-color));
    height: var(--sidebar-footer-height);
    line-height: var(--sidebar-footer-height);
    text-align: center;
}

#mainSidebar-toggle {
    position: absolute;
    top: 5px;
    left: calc(var(--sidebar-width) - var(--sidebar-toggleButton-width) / 2);
}

#mainSidebar-toggleButton {
    width: var(--sidebar-toggleButton-width);
    height: 36px;
    border: 3px solid rgb(var(--sidebar-a-color));
    background:rgb(var(--sidebar-a-color));
    text-align: center;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 20px;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.search-text {
    width: calc(100% - 40px);
    border: 3px solid rgb(var(--sidebar-a-color));
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: rgb(var(--main-placeholder-color));
}

.search-text:focus{
    color: rgb(var(--sidebar-a-color));
}

.search-button {
    width: 40px;
    height: 36px;
    border: 3px solid rgb(var(--sidebar-a-color));
    background:rgb(var(--sidebar-a-color));
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

#mainContent {
    background-color: rgb(var(--mainContent-background-color));
    overflow: auto;
    margin-left: var(--sidebar-width);
    padding: var(--sidebar-header-height) 30px 20px 30px;
}
  
#content:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    #mainSidebar {
        position: fixed;
    }

    #mainContent {
        width: 100%;
        margin-left: 0px;
    }
}