:root {
    --lightGray: 205, 205, 205;
    --jetGray: 53, 53, 53;
    --lotion: 252, 252, 252;
    --moonstone-blue: 124, 189, 188;
    --moonstone-blue-dark: 144, 209, 208;
    --almond: 234, 224, 207;
    --almond-light: 214, 204, 187;
    --sunray: 228, 186, 92;
    --brown-nose: 104, 74, 31;

    --main-background-color: var(--lotion);
    --main-text-color: var(--jetGray);
    --main-a-color: var(--moonstone-blue);
    --main-placeholder-color: var(--jetGray);
    --main-border-color: var(--lightGray);

    --sidebar-width: 250px;
    --sidebar-toggleButton-width: 50px;
    --sidebar-header-height: 50px;
    --sidebar-footer-height: 50px;
    --sidebar-background-color: var(--moonstone-blue);
    --sidebar-border-color: var(--moonstone-blue-dark);
    --sidebar-hover-background-color: var(--moonstone-blue);
    --sidebar-a-color: var(--jetGray);

    --mainContent-background-color: var(--lotion);
    --mainContent-text-color: var(--jetGray);
    --mainContent-button-fontSize: 15px;
    
    --alert-border: 1px solid var(--alert-border-color);
    --alert-border-radius: 0.375rem;
    --alert-padding-x: 1rem;
    --alert-padding-y: 1rem;
} 